.onboarding-container {
  position: relative;
  flex-direction: column;
}
.chart-container{
  display: flex;
  flex-direction: row;
  align-items: center;
  text-align: center;
  .column {
    padding-left: 10px;
    padding-right: 10px;
  }
}

.title {
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 5px;
}

.checklist {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.donut-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.freddy-container {
  position: absolute;
  top: 25%;
  left: 35%;
  text-align: center;
  img {
    width: 150px;
    height: 150px;
  }
}

.progress-description {
  text-align: center;
}
